<font color="#f5f5f5">
<h1>{{ question.question_text }}</h1>
{% load static %}

<head>
    <title>{{ question.question_text }}</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h3>
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
<P>
    <input type="submit" value="Vote">
</P>
</form>
</font>
</h3>